:root {
  --main-color: #5B24F7;
  --main-color-lite: #A586FB;
  --secondary-color: #F75B24;
  --accent-color: #26FFDB;
  --twitter-color: #00ACEE;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-shadow: 0px 0px 1px #DDD;
}

.logo {
  display: flex;
  font-size: 2.8rem;
  font-weight: 600;
  color: #EEE;
}

.hide {
  display: none;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
}

.footer {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #CCC;
}
