@font-face {
  font-family: Inter;
  src: url(pickr_flask/static/fonts/Inter-VariableFont_slnt,wght.ttf);
}


.header {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  border-bottom: 1px solid #CCC;
  box-shadow: 0px 0px 15px rgb(0, 0, 0, .25);
  padding: 0 1rem;
  background: var(--main-color);
  height: 4rem;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#user {
  font-size: 1rem;
  font-weight: 300;
}

#all_topic {
  font-size: 1.2rem;
  font-weight: 300;
}

#all_topic>a {
  color: #DDD;
}

#user>a {
  color: #DDD;
}

#menu {
  width: 32px;
  height: 32px;
  padding: 5px 5px;
  border-radius: 5px;
}

#exit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 22px;
  height: 22px;
}

.body {
  flex: 1;
  display: flex;
}

.sidebar {
  position: relative;
  width: 20%;
  max-width: 200px;
  background: #FaFaFa;
  border-right: 1px solid #CCC;
  flex-shrink: 0;
  padding: 5px 5px;
  transition: 0.1s ease;
}

.body > .sidebar_small {
  width: 0%;
}

.body > .content_large {
  width: 100%;
}

.content h1 {
  font-weight: 500;
  color: #444;
  text-align: center;
  margin-bottom: 0px;
}

.content h2 {
  font-weight: 270;
  margin-top: 5px;
  color: #555;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.message-modal a {
  color: var(--main-color);
}

.message-modal {
  background-color: #f1f1fe;
  color: #666;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  top: 0%;
  width: 100%;
  height: 3rem;
  padding: 10px;
}

.message-modal > button.close {
    background-color: transparent;
    padding-right: 30px;
    border: 0;
    float: right;
    font-size: 1.5rem;
    color: black;
    opacity: 0.5;
    -webkit-appearance: none;
}

.message-modal p {

}

#navigation {
  margin-left: 0px;
  margin-top: 40px;
}

#navigation .option {
  display: flex;
  font-size: 1.3rem;
  text-align: left;
  margin: 5px 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

#navigation .option > img {
  width: 23px;
  height: 23px;
  padding-right: 5px;
}

#navigation .option:hover {
  border-left: 4px solid var(--main-color-lite);
}

.topic {
  margin-left: 6%;
  margin-right: 6%;
  border-bottom: 1px solid #DDD;
  font-size: 1rem;
  text-align: left;
  word-wrap: break-word;
  background-color: #fff;
}

.topic > h2 {
  align: center;
  font-weight: 350;
  font-size: 1.4rem;
}

.topic h3 {
}

.topic > p {
}

.accordion {
  transition: 0.1s;
  padding: 10px 20px;
  margin: 0px;
}

.accordion > p {
  font-size: 1.1rem;
  max-width: 85%;
  margin-left: 3rem;
}

.accordion:hover{
  background-color: #F9F9F9;
}

.accordion-content {
  text-align: center;
  padding: 0px 0px;
  padding-left: 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.1s ease-out;
}

.accordion-content h2 {
  display: inline-block;
}

.accordion-content .more {
  font-size: 1.2rem;
  text-align: center;
  padding: 15px;
}

.accordion-content .more a:hover {
  color: var(--main-color);
}

.accordion:before{
  padding: 0px 0px;
  float: right;
  content: '+';
  font-size: 20px;
  color: var(--main-color);
}

.active:before {
  content: "–";
  font-size: 20px;
  color: var(--main-color);
}

.tooltip {
  display: inline-block;
  position: relative;
  left: 5px;
  cursor: help;
}

.tooltip:before {
  content: '?';
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--main-color-lite);
}

.tooltip p{
  display: none;
  text-align: left;
  font-size: 0.9rem;
  color: white;
  background-color: rgba(0,0,0,0.8);
  padding: 7px 7px;
  border-radius: 4px;
  position: absolute;
  margin-left: -100px;
  width: 160px;
  left: 20%;
  top: 100%;
  z-index: 1;
}

.tooltip:hover p{
  display: block;
  transform-origin: 100% 0%;
}

.tooltip p:after {
  width: 100px;
  height: 40px;
  content: '';
}

.user-account {
  border: 1px solid var(--main-color);
  box-shadow: 1px 1px 1px var(--main-color);
  padding: 30px 30px;
  border-radius: 6px;
  margin: 30px;
  text-align: left;
}

.user-account h2 {
  font-weight: 400;
  color: black;
}

.cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  padding-top: 0px;
}

.card {
  position: relative;
  border: 1px solid var(--main-color);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
  border-radius: 6px;
  padding: 1rem;
  margin: 5px;
  width: 15em;
  display: block;
  text-align: left;
}

.card p {
  font-size: 1rem;
}

.card .author {
  color: #bbb;
}

.card .scheduled {
  color: #888;
  font-size: 0.8rem;
  background: #f1f1fe;
  padding: 5px;
}

.card:hover {
  box-shadow: 1px 1px 1px var(--main-color);
}

.card .twitter-button {
  background: var(--twitter-color);
  height: 20px;
  width: 20px;
  padding: 5px;
  position: absolute;
  border-radius: 20px;
  bottom: 15px;
  right: 15px;
}

.card > .edit-button {
  border: none;
  background: transparent;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
}

.card > .schedule-button {
  border: none;
  background: transparent;
  position: absolute;
  bottom: 10px;
  left: 40px;
  padding: 4px;
}

.post .read {
  position: absolute;
  bottom: 10px;
  right: 15px;
  padding: 4px;
}

.read a:hover {
  color: var(--main-color);
}

.edit-button img {
  height: 17px;
  width: 17px;
}

.schedule-button img {
  height: 20px;
  width: 20px;
}

.back-button {
  font-size: 0.9rem;
  border: none;
  background: transparent;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 4px;
}

.back-button img {
  heigh: 20px;
  width: 20px;
}

.save-button,
.submit-button,
.view-button {
  font-size: 0.9rem;
  border: none;
  background: transparent;
  float: right;
}

.save-button,
.submit-button,
.view-button {
  padding: 4px;
  border: 1px solid #eee;
  background:  #f1f1fe;
  border-radius: 4px;
}

.save-button:hover,
.submit-button:hover,
.view-button:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.twitter-button img {
  margin-top: 2px;
}

.datetime-input {
  align: center;
  padding-top: 0px;
  padding-bottom: 20px;
}

.datetime-input label {
  font-size: 0.9rem;
  font-weight: 200;
  color: #888;
}

.datetime-input input {
  width: 12rem;
}

.datetime-input input:invalid + span::after {
  content: "✖";
  color: red;
  padding-left: 5px;
}

.datetime-input input:valid + span::after {
  content: "✓";
  color: var(--twitter-color);
  padding-left: 5px;
}


.already-scheduled p {
  font-size: 0.75rem;
  font-weight: 200;
  color: #444;
}

.button {
  background-color: #5B24F7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.already-scheduled i {
  color: black;
}

.suggested-post {
  padding-bottom: 20px;
}

.suggested-post textarea {
  width: 90%;
  max-width: 90%;
  max-height: 90%;
  margin-top: 10px;
  font-family: inherit;
  font-size: inherit;
  display: block;
  resize: none;
  autocomplete: off;
}

.suggested-post p:focus {
  border: 1px solid black;
}

.no_topics {
  color: red;
}

@media (max-width: 600px) {
  .sidebar {
    width: 30%;
  }

  .content {
    width: 70%;
  }

  .card {
    font-size: 0.9rem;
  }

  #user {
    display: none;
  }

  #navigation .option {
    padding-left: 0px;
    margin-left: 0px;
  }
}

#tabs > .tab-list {
  border-bottom: solid 3px #eee;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(238, 238, 238);
}

#tabs > .tab-content {
  padding: 10px;
  margin-bottom: 100px;
}

#tabs > .tab-list button {
  border: none;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background-color: transparent;
} 

#tabs > .tab-list button.selected {
  background-color: #eee;
}

.trends {
  font-size: xx-small;
}

.info-desc {
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  padding: 30px 30px;
  border-radius: 6px;
  margin: 30px;
  text-align: left;
}

.info-desc h2 {
  font-weight: 400;
  color: black;
}