<form hx-put="/post/{{ post_id }}" hx-target="this" hx-swap="outerHTML" class="card tweet">
    {% if username %}
    <div class="author">@{{ username }}</div>
    {% endif %}

    {% if scheduled_for %}
    <div class="scheduled">Scheduled for: {{ scheduled_for }}</div>
    {% endif %}

    <div class="suggested-post">
        <textarea name="text" rows="9" cols="29" spellcheck="false"> {{ post_text }} </textarea>
    </div>
    <button class="save-button clickable">Save</button>
    <button class="cancel-button clickable" hx-get="/post/{{ post_id }}">Cancel</button>
</form>
