{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="body">
    <div class="sidebar sidebar_small">
        {% include 'navigation.html' %}
    </div>
    <div class="content content_large">
        <div class="container">
            <h1>Trending Topics and Tweets for you</h1>
            <h2>{{date}}</h2>
            <p>The top trending topics in the last 14 days and tweets for you to post.. Click on a topic to view your
                generated tweets</p>
            <p>To view all trending topics click on the menu</p>
            {% for topic in topics %}
            <div class="topic clickable" onclick="location.href='topic/{{topic.id}}'">
                <h2>{{topic.name}}</h2>
                <p>{{topic.description}}</p>
                {% for post in topic.generated_posts %}
                <div class="card">
                    <div class="author">@{{ current_user.username }}</div>
                    <div class="suggested-post">
                        <p spellcheck="false">
                            {{post.text}}
                        </p>
                    </div>

                    <div class="button">
                        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url=%00"
                            data-size="large" data-text="{{ post.text }}">
                            Tweet
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}