{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="body">
    <div class="sidebar sidebar_small">
        {% include 'navigation.html' %}
    </div>
    <div class="content content_large">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="message-modal">
                <button type="button" class="close clickable" data-dismiss="alert">&times;</button>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="container">
            <h1>Top Trending Topics</h1>
            <h2>{{date}}</h2>
        </div>
        {% for topic in topics %}
        <div class="topic">
            <div class="accordion clickable">
                <h3>Topic {{ loop.index }} 🔥: {{topic.name}}</h3>
                <p>{{topic.description if topic.description}}</p>
            </div>
            <div class="accordion-content">
                <h2>Tweets for you</h2>
                <div class="tooltip">
                    <p>
                        Use these AI-generated tweets to post about your topic.
                        Press the tweet button to edit a tweet, post it, or schedule it.
                    </p>
                </div>
                <div class="container cards">
                    {{ generated_posts_fragments[ loop.index-1 ] | safe}}
                </div>
                <div class="more">
                    <a href="/topic/{{ topic.id }}">More from this topic↗</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if topics|length < 1 %} <div class="no_topics">
            <hr/>
            <p>Your account is still being set up. Please check again in 24 hours and you will have access to your trending topics and generated posts!</p>
    </div>
    {% endif %}

</div>

{% endblock %}



{% block js %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
{% endblock %}
