{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="body">
    <div class="sidebar sidebar_small">
        {% include 'navigation.html' %}
    </div>
    <div class="content content_large">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="message-modal">
                <button type="button" class="close clickable" data-dismiss="alert">&times;</button>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="container">
            <h1>Weekly Post Schedule</h1>
            <p>Your curated post schedule for week beginning {{week_date}}</p>
        </div>
        <div class="info-desc">
            <p>{{ schedule_text}}</p>
        </div>
        
        <div id="tabs" class="topic">
            <div class="tab-list" role="tablist">
                <button hx-trigger="load" hx-get="/weekly_post/-1" hx-target="#tabs" role="tab" aria-selected="true" aria-controls="tab-content" class="selected">Mon</button>
                <button hx-get="/weekly_post/1" hx-target="#tabs" role="tab" aria-selected="true" aria-controls="tab-content">Tue</button>
                <button hx-get="/weekly_post/2" hx-target="#tabs" role="tab" aria-selected="true" aria-controls="tab-content">Wed</button>
                <button hx-get="/weekly_post/3" hx-target="#tabs" role="tab" aria-selected="true" aria-controls="tab-content">Thur</button>
                <button hx-get="/weekly_post/4" hx-target="#tabs" role="tab" aria-selected="true" aria-controls="tab-content">Fri</button>
                <button hx-get="/weekly_post/5" hx-target="#tabs" role="tab" aria-selected="true" aria-controls="tab-content">Sat</button>
                <button hx-get="/weekly_post/6" hx-target="#tabs" role="tab" aria-selected="true" aria-controls="tab-content">Sun</button>
            </div>
            
            <div class="container cards" id="tab-content" role="tabpanel">
                <p>Your schedule has not been generated yet, please refresh the page in 5 minutes and check the <a href="/topic/{{ topic_ids[ loop.index-1 ] }}">All Topics↗</a> page while you wait...</p>
            </div>
        </div>
        <br/>
        <br/>
        <div class="read">
            <a href="{{url_for('all_topics')}}">View all topics your audience us interested in ↗</a>
        </div>
        <br/>
        <div class="container">
            <div class="info-desc">
                <p>New trends in your niche</p>
            </div>
        </div>
        {% if topic %}
            {% for topic in topics %}
            <div class="topic">
                <div class="accordion clickable">
                    <h3>{{topic.name}}</h3>
                    <p style="font-size:medium">{{topic.description if topic.description}}</p>
                </div>
                <div class="more">
                    <a href="/topic/{{ topic_ids[ loop.index-1 ] }}">View topic details and generated posts↗</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <p>No headlines today</p>
        {% endif %}


            
        </div>
</div>

{% endblock %}



{% block js %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
{% endblock %}
