<div hx-target="this" hx-swap="outerHTML" class="card tweet">
    <div id="tabs" hx-target="#tab-contents" role="tablist" _="on htmx:afterOnLoad set @aria-selected of <[aria-selected=true]/> to false tell the target take .selected set @aria-selected to true">
        <button role="tab" aria-controls="tab-content" aria-selected="true" hx-get="/tab1" class="selected">Tab 1</button>
        <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/tab2">Tab 2</button>
        <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/tab3">Tab 3</button>
    </div>

    <div id="tab-contents" role="tabpanel" hx-get="/tab1" hx-trigger="load"></div>

    <div class="suggested-post">
        <p>{{post_text}}</p>
    </div>
    <input
        id="{{ short_id }}"
        class="hide"
        name="default_time"
        value="{{ default_time }}">
    <button title="Edit" hx-get="/post/{{ post_id }}/edit" class="edit-button clickable">
        <img src='{{ url_for("static", filename="img/edit.svg") }}'>
    </button>
    <button
        title="Schedule tweet"
        hx-get="/post/{{ post_id }}/schedule"
        hx-include="#{{ short_id }}"
        class="schedule-button clickable">
        <img src='{{ url_for("static", filename="img/schedule.svg") }}'>
    </button>
    <div class="twitter-button clickable">
        <a href="/post/{{ post_id }}/tweet">
        <img src='{{ url_for("static", filename="img/twitter.svg") }}'>
        </a>
    </div>
</div>
