<div hx-target="this" hx-swap="outerHTML" class="card tweet">
    <div class="suggested-post">
        <p>{{post_text}}</p>
    </div>
    <input
        id="{{ short_id }}"
        class="hide"
        name="default_time"
        value="{{ default_time }}">
    <button title="Edit" hx-get="/post/{{ post_id }}/edit" class="edit-button clickable">
        <img src='{{ url_for("static", filename="img/edit.svg") }}'>
    </button>
    <button
        title="Schedule tweet"
        hx-get="/post/{{ post_id }}/schedule"
        hx-include="#{{ short_id }}"
        class="schedule-button clickable">
        <img src='{{ url_for("static", filename="img/schedule.svg") }}'>
    </button>
    <div class="twitter-button clickable">
        <a href="/post/{{ post_id }}/tweet">
        <img src='{{ url_for("static", filename="img/twitter.svg") }}'>
        </a>
    </div>

</div>
