<form hx-post="/post/{{ post_id }}/schedule" hx-target="this" hx-swap="outerHTML" class="card tweet">
    {% if username %}
    <div class="author">@{{ username }}</div>
    {% endif %}

    <div class="suggested-post">
        <p>{{post_text}}</p>
    </div>


    {% if scheduled_for %}
    <div class="already-scheduled">
        <p>This post is scheduled to be tweeted at</p>
        <div class="scheduled">{{ scheduled_for }}</div>
        <p>Click <i>Unschedule</i> to cancel it.</p>
    </div>
    <button title="Unschedule tweet" hx-post="/post/{{ post_id }}/unschedule" class="submit-button clickable">
        Unschedule
    </button>
    <button title="Go Back" class="back-button clickable" hx-get="/post/{{ post_id }}">
        <img src='{{ url_for("static", filename="img/back.svg") }}'>
    </button>

    {% else %}
    <div class="schedule-form">
        <div class="datetime-input">
            <label for="timezone">Schedule this tweet for:</label>
            <input type="hidden" id="timezone" name="timezone" value="{{ timezone_value }}"/>
            <input
                type="datetime-local"
                id="datetime"
                name="datetime"
                value="{{ datetime_value }}"
                min="{{ datetime_min }}"
                max="{{ datetime_max }}"
                required />
            <span class="validity"></span>
        </div>

        <input type="submit" value="Schedule" class="submit-button clickable"/>
        <button title="Go back" class="back-button clickable" hx-get="/post/{{ post_id }}">
            <img src='{{ url_for("static", filename="img/back.svg") }}'>
        </button>
    </div>
    {% endif %}
</form>
