{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="body">
    <div class="sidebar sidebar_small">
        {% include 'navigation.html' %}
    </div>
    <div class="content content_large">
        <div class="topic">
            <h1>{{topic.name}}</h1>
            <p>{{topic.description if topic.description}}</p>

            <h2>Generated Tweets</h2>
            <div class="container cards">
                {{ generated_posts_fragment | safe}}
            </div>

            <h2>Posts from this topic</h2>
            <div class="container cards">
                {% for post in posts %}
                <div class="card">
                    <p>{{post.title }}</p>
                    <p>{{ post.body | truncate(300)}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
{% endblock %}
