body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #6c2cec;
    height: 100%;
    padding: 0em 1em 1em 1em;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.gen-tweet-title {
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    /*height: 112px;
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;*/
    padding: 1em;

    border-radius: 10px;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.dropdown {
    width: 300px;
}

.aspect {

    height: 30px;
    width: 300px;
    border-radius: 3px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.text-area {
    resize: none;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 18px;
    text-align: left;
    border-color: transparent;
    background-color: #F7F7F7;
    font-family: "Inter", sans-serif;
    width: 90%;
    height: 50px;
    overflow-y: scroll;
    padding-left: 10px;
    padding-top: 10px;
}

.p-full-review {
    font-family: "Inter", sans-serif;
    padding-left: 10px;
    padding-top: 20px;
    text-decoration: underline;
}

.p-full-alert {
    font-family: "Inter", sans-serif;
    padding-left: 10px;
    padding-top: 20px;
}

.text-area-review {
    resize: none;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 18px;
    text-align: left;
    border-color: transparent;
    background-color: #f4f3f3;
    font-family: "Inter", sans-serif;
    width: 90%;
    height: 300px;
    overflow-y: scroll;
    padding-left: 10px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 300px;
    height: 48px;
}

.Select--single>.Select-control .Select-value,
.Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #000000;
}